body {
    position: relative;
    width: 100%;
    min-height: 100vh;
}

section {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* PARTICLES */
#particles {
    background: #000000;
}

/* HEXAGON GRID */
#hexagonGrid {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.row{
    display: inline-flex;
    margin-top: -32px;
    margin-left: -50px;
}

.row:nth-child(even) {
    margin-left: 2px;
} 

.row.hexagon {
    position: relative;
    width: 100px;
    height: 110px;
    margin: 4px 2px;
    clip-path: polygon(
        50% 0%, 
        100% 25%, 
        100% 75%, 
        50% 100%, 
        0% 75%, 
        0% 25%);
}

.row.hexagon::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: 0.95;
    transition: 1s;
}

.row.hexagon::after {
    content: "";
    position: absolute;
    top: 4px;
    right: 4px;
    bottom: 4px;
    left: 4px;
    background: #141414;
    clip-path: polygon(
        50% 0%,
        100% 25%,
        100% 75%,
        50% 100%,
        0% 75%,
        0% 25%
    );
}

.row.hexagon:hover::before {
    background-color: #8cfd0b;
    opacity: 1;
    transition: 0s;
}

.row.hexagon:hover::after {
    background: #000000;
}

